[submodule "github/chinese-poetry/chinese-poetry"]
	path = github/chinese-poetry/chinese-poetry
	url = https://github.com/chinese-poetry/chinese-poetry.git
[submodule "github/d3/d3"]
	path = github/d3/d3
	url = https://github.com/d3/d3.git
